/* General Style */
* {
  font-size: 16pt;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
body {
  background-color: #0a2d39 !important;
  color: #f55477 !important;
}
.page-body {
  text-align: center;
  margin-bottom: 7rem;
}
.page-title {
  display: flex;
  justify-content: center;
}

/* Button */
.nav-button {
  background-color: #9198e5 !important;
  color: #f8f9fa;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: x-large;
}
.nav-button:hover {
  transform: scale(1.05);
}

/* Footer */
.cat-logo-small {
  width: 4rem;
}
footer {
  background-color: #0a2d39;
  bottom: 0;
  color: #f55477;
  font-weight: 800;
  font-style: normal;
  height: 80px;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

/* Header */
.header-nav-links {
  display: flex;
  margin-top: 1rem;
}
.nav {
  justify-content: space-between;
  background-color: #0a2d39;
  font-weight: 800;
  font-style: normal;
  height: 110px;
  position: sticky;
}
.nav-link {
  background-image: linear-gradient(#f55477, #f51955) !important;
  border-radius: 10px;
  color: white !important;
  display: inline-block !important;
  margin-top: 25px;
  margin-left: 4px;
  margin-right: 10px;
}
.nav-link:hover {
  transform: scale(1.05);
}
.perrfect-match-logo {
  margin: 0;
  width: 5rem;
}

/* Home */
.curved-text {
  margin-top: -100px;
}
.home-logo {
  display: flex;
  margin-top: -1275px;
  margin-left: 500px;
  width: 30%;
  height: 30%;
  place-content: center;
}
.home-slider {
  display: flex;
  place-content: center;
  margin-top: 10px;
  margin-left: -10px;
}
path {
  fill: transparent;
}
text {
  fill:#f55477 !important;
  font-weight: 800;
  font-style: normal;
}

/* Not Found */
.image {
  max-width:600px;
  max-height: 600px;
}
.message {
  width: 500px;
  padding-top: 6rem;
  padding-left: 1rem;
  font-weight: 800;
  font-style: normal;
}
.not-found-content {
  display: flex;
  justify-content: center;
  height: 600px;
}

/* Index */
/* .card {
  text-align: center;
  background-color: #f09aad !important;
  margin-bottom: 2rem;
  width: 14rem;
  box-shadow: 1px 1px #d7d1de;
}
.index-cat-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #0a2d39;
}
.index-card-text {
  color: #0a2d39 !important;
}
.index-profile-image-container {
  max-height: 300px;
  overflow: hidden;
  border-radius: 1%;
}
.index-profile-image {
  object-fit: cover ;
  height: 400px;
  width: 300px;
} */

/* New */
.new-page-body {
  padding-left: 400px;
  width: 1000px;
  margin-top: -10px;
  height: 800px;
}
.centering-content {
  text-align: center;
}
.row {
display: flex;
justify-content: center;
text-align: center;
}
.input-field {
  width:100% !important;
}
.enjoys-text {
margin-left: 160px;
}
.image-text {
margin-left: 255px;
}
.enjoys-error {
  margin-left: 225px;
}
.image-error {
  margin-left: 205px;
}

/* Show */
.show-cat-image {
  width:300px;
  object-fit: cover;
  border-radius: 50px;
}
.show-text {
  list-style-type: none;
  margin-top: 100px;
  padding-right: 20px;
}
.show-profile {
  width: 1000px;
  height: 450px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-left: 150px;
}

/* Card Swipe*/
.index-page {
  width: auto;
  height: 800px;
}
h1 {
  text-align: center;
}
.card {
  width: 80vw !important;
  max-width: 260px !important;
  height: 300px !important;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  background-size: cover;
  background-position: center;
  display: flex;
}
.card h3 {
  position: absolute;
  bottom: 0;
  color: #fff;
}
.infoText {
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}
.buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 340px;
}
.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}
.buttons button:hover {
  transform: scale(1.05);
}
@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
/* Card Flip */
.flip-card-container {
 margin-left: 590px;
  position: absolute !important;
}
.flip-card {
  display: flex;
  justify-content: center;
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  width: 90vw;
  max-width: 260px;
  height: 300px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute !important;
  border: 5px solid white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back{
  transform: rotateY(180deg);
  background-color: #f55477;
  height: 300px;
  width: 260px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
.flip-card-back-ul {
  list-style-type: none;
  text-align: center;
padding-right: 50px;
overflow: hidden;
}
.flip-card-front {
  background-color: #73d0ff;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
.flip-card-button {
  background-color: #9198e5 !important;
  border-radius: 5px !important;
  border: none !important;
  color: #fff !important;
  font-size: 18px !important;
}