/* General Style */
* {
  font-size: 16pt;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
body {
  background-color: #0a2d39 !important;
  color: #f55477 !important;
}
.page-body {
  text-align: center;
  margin-bottom: 7rem;
}
.page-title {
  display: flex;
  justify-content: center;
}

/* Button */
.nav-button {
  background-image: linear-gradient(#f55477, #f51955) !important;
  color: #0a2d39;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: x-large;
  margin: 1rem;
}

/* Footer */
.cat-logo-small {
  width: 4rem;
}
footer {
  background-color: #0a2d39;
  bottom: 0;
  color: #f55477;
  font-weight: 800;
  font-style: normal;
  height: 80px;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

/* Header */
.header-nav-links {
  display: flex;
  margin-top: 1rem;
}
.nav {
  justify-content: space-between;
  background-color: #0a2d39;
  font-weight: 800;
  font-style: normal;
  height: 110px;
  position: sticky;
}
.nav-link {
  background-image: linear-gradient(#f55477, #f51955) !important;
  border-radius: 10px;
  color: white !important;
  display: inline-block !important;
  margin-top: 25px;
  margin-left: 4px;
  margin-right: 10px;
}
.perrfect-match-logo {
  margin: 0;
  width: 5rem;
}

/* Home */
.curved-text {
  margin-top: -100px;
}
.home-logo {
  display: flex;
  margin-top: -1275px;
  margin-left: 500px;
  width: 30%;
  height: 30%;
  place-content: center;
}
.home-slider {
  display: flex;
  place-content: center;
  margin-top: 10px;
  margin-left: -10px;
}
path {
  fill: transparent;
}
text {
  fill:#f55477 !important;
  font-weight: 800;
  font-style: normal;
}

/* Not Found */
.image {
  max-width:600px;
  max-height: 600px;
}
.message {
  width: 500px;
  padding-top: 6rem;
  padding-left: 1rem;
  font-weight: 800;
  font-style: normal;
}
.not-found-content {
  display: flex;
  justify-content: center;
  height: 600px;
}

/* Index */
.card {
  text-align: center;
  background-color: #f09aad !important;
  margin-bottom: 2rem;
  width: 14rem;
  box-shadow: 1px 1px #d7d1de;
}
.index-cat-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #0a2d39;
}
.index-card-text {
  color: #0a2d39 !important;
}
.index-profile-image-container {
  max-height: 300px;
  overflow: hidden;
  border-radius: 1%;
}
.index-profile-image {
  object-fit: cover ;
  height: 400px;
  width: 300px;
}

/* New */
.form-validations {
  color:red !important;
}
.new-page-body {
  max-width:1500px;
  margin-bottom: 7rem;
  margin: 0 6rem;
}
.centering-content {
  text-align: center;
}

/* Show */
.show-cat-profile {
  width:20rem;
}

/* card */
.card {
  /* Sizing */
  height: 100%;
  width: 100%;
  
  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  /* transition: transform 1000ms; */
  user-select: none;
  cursor: pointer;
}

/* .card:hover { */
  /* transform: rotateY(180deg); */
/* } */

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute !important;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 800;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.card-front {
  background-color: #73d0ff;
  position: absolute;
}

.card-back {
  background-color: #ffad66;
  transform: rotateY(180deg);
  position: absolute;
  height: 300px;
  width: 260px;
}